body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.c {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

h2 {
    color:deepskyblue;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: justify;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    border: 5px solid #00bfff;
    width: 100px;
    height: 100px;
}

.projects, .contact {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-left: 5px solid #00bfff;
    box-shadow: 0 2px px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

ul li a {
    text-decoration: underline;
    color:lightcoral;
    font-weight: bold;
}

ul li a:hover {
    color: #4CAF50;
}

.contact p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.contact a{
    text-decoration: underline;
}

.contact a:hover {
    color:violet;
}

